<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd"
	default-lazy-init="true">
	  <alias alias="elink_jt809_2011_1078_9800_messageHandler"  name="elink_jt809_2011_2011_9200_messageHandler"/>
	  <alias alias="elink_jt809_2011_1078_9801_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  <alias alias="elink_jt809_2011_1078_9802_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  
	  <alias alias="elink_jt809_2011_1078_9900_messageHandler"  name="elink_jt809_2011_2011_9200_messageHandler"/>
	  <alias alias="elink_jt809_2011_1078_9902_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  
	  <alias alias="elink_jt809_2011_1078_9A00_messageHandler"  name="elink_jt809_2011_2011_9200_messageHandler"/>
	  <alias alias="elink_jt809_2011_1078_9A01_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  <alias alias="elink_jt809_2011_1078_9A02_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  
	  
	  <alias alias="elink_jt809_2019_2019_9200_messageHandler"  name="elink_jt809_2011_2011_9200_messageHandler"/>
	  <alias alias="elink_jt809_2019_2019_9205_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  
	  <alias alias="elink_jt809_2019_1078_9800_messageHandler"  name="elink_jt809_2011_2011_9200_messageHandler"/>
	  <alias alias="elink_jt809_2019_1078_9801_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  <alias alias="elink_jt809_2019_1078_9802_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  
	  <alias alias="elink_jt809_2019_1078_9900_messageHandler"  name="elink_jt809_2011_2011_9200_messageHandler"/>
	  <alias alias="elink_jt809_2019_1078_9902_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  
	  <alias alias="elink_jt809_2019_1078_9A00_messageHandler"  name="elink_jt809_2011_2011_9200_messageHandler"/>
	  <alias alias="elink_jt809_2019_1078_9A01_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
	  <alias alias="elink_jt809_2019_1078_9A02_messageHandler"  name="elink_jt809_2011_2011_9205_messageHandler"/>
</beans>