<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--定义日志文件 输出位置 -->
    <property name="log.home_dir" value="../logs"/>
    <property name="log.app_name" value="elink-iov-message-processor"/>
    <!-- 日志最大的历史 7天 -->
    <property name="log.maxHistory" value="7"/>
    <property name="log.maxSize" value="500MB"/>
    <!-- 设置日志字符集 -->
    <property name="log.charset" value="UTF-8"/>
    <!-- 日志级别 -->
    <property name="log.level" value="INFO"/>
    <!-- 日志默认格式 -->
    <property name="log.pattern" value="[%d{yyyy/MM/dd-HH:mm:ss.SSS}]-[%level]-[%thread]-[%class:%line]-%msg%n"/>
    
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
			<charset>${log.charset}</charset>
		</encoder>
	</appender>

	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.home_dir}/${log.app_name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
		        <fileNamePattern>${log.home_dir}/${log.app_name}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern> 
		        <maxFileSize>${log.maxSize}</maxFileSize>  
		        <maxHistory>${log.maxHistory}</maxHistory>  
   		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
			<charset>${log.charset}</charset> 
		</encoder>
	</appender>
	
	<appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>ERROR</level>
	        <onMatch>ACCEPT</onMatch>
	        <onMismatch>DENY</onMismatch>
    	</filter>
		<file>${log.home_dir}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
		        <fileNamePattern>${log.home_dir}/error-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern> 
		        <maxFileSize>${log.maxSize}</maxFileSize>  
		        <maxHistory>${log.maxHistory}</maxHistory>  
   		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
			<charset>${log.charset}</charset>
		</encoder>
	</appender>

	<appender name="mqAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
		<file>${log.home_dir}/upstream-message.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
		        <fileNamePattern>${log.home_dir}/upstream-message-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern> 
		        <maxFileSize>${log.maxSize}</maxFileSize>  
		        <maxHistory>${log.maxHistory}</maxHistory> 
   		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy/MM/dd-HH:mm:ss.SSS}]-%msg%n</pattern>
			<charset>${log.charset}</charset>
		</encoder>
	</appender>

    <logger name="com.legaoyi.iov.message.processor.mq" level="INFO" additivity="false">
        <appender-ref ref="mqAppender" />
        <appender-ref ref="errorAppender" />
    </logger>
 
	<logger name="org.springframework" level="ERROR" />
	<root level="${log.level}">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>  
